<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="api.amap.com.mylibrary" >

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c2a82301c8b63dfce2eef9e638843af7" />
    </application>
</manifest>
